.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar span {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainImage {
    margin-top: 100px;
}

.footer {
    overflow: hidden;
    background-color: rgb(225, 112, 19);
    bottom: 0;
    width: 100%;
    height: 100px;
}

.footer span {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.add_to_cart {
    background-color: rgb(225, 112, 19);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 150px;
    bottom: 20px
}

.learn_more {
    color: rgb(225, 112, 19);
    text-decoration-line: underline;
    line-height: 3px;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.paragraph_1 {
    margin: 50px;
    position:relative;
    left: 200px;
}

.flower_in_a_vase {
    position: relative;
    left: 100px;
    bottom: 30px
}

.paragraph_2 {
    position: relative;
    left: 400px;
    bottom: 400px
}

.paragraph_3 {
    position: relative;
    left: 400px;
    bottom: 400px
}

.dry_plant_in_a_vase {
    position: relative;
    left: 730px;
    bottom: 750px;
}

.about_us {
    text-decoration: underline;
    text-decoration-thickness: 2px;

}